<section class="container">
  <div><app-pesquisar (tarefaCriada)="adicionarTarefa($event)"></app-pesquisar></div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">TAREFA</th>
        <th scope="col">DATA</th>
        <th scope="col">STATUS</th>
        <th scope="col">AÇÃO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarefa of tarefas">
        <th scope="row">{{ tarefa.id }}</th>
        <td>{{ tarefa.descricao }}</td>
        <td>{{ tarefa.data }}</td>
        <td [ngStyle]="{'color': getStatusColor(tarefa.status)}">{{ tarefa.status }}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              Ação
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" style="color: blue" (click)="changeStatus(tarefa, 'i')">Iniciar</button></li>
              <li><button class="dropdown-item" style="color: green" (click)="changeStatus(tarefa, 'c')">Concluir</button></li>
              <li><button class="dropdown-item" style="color: red" (click)="excluirTarefa(tarefa)">Excluir</button></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</section>